#themeContainer {
    height: 100%;
}

.terminal {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    color: $light-theme-color;
    background: $light-theme-toolbar-color;

    @include themed() {
        color: t('color');
        background: t('toolbar');
    }
}