$light-theme-bg-color: #FDF6E4;
$dark-theme-bg-color: #022833;

$light-theme-toolbar-color: #D8D8D8;
$dark-theme-toolbar-color: #1E2227;

$light-theme-color: #333333;
$dark-theme-color: #F1F3F4;

$light-theme-anchor-color: #1A87B5;
$dark-theme-anchor-color: #FFFFFF;

$control-close-bg-color: #FC5B57;
$control-minimize-bg-color: #E5BF3C;
$control-maximize-bg-color: #57C038;