#terminalContainer {
  --prompt-color: #a917a8;
  --light-theme-bg-color: #fdf6e4;
  --dark-theme-bg-color: #022833;

  --light-theme-toolbar-color: #d8d8d8;
  --dark-theme-toolbar-color: #131519;

  --light-theme-color: #333333;
  --dark-theme-color: #839496;

  --light-theme-anchor-color: #1a87b5;
  --dark-theme-anchor-color: #ffffff;

  --control-default-bg-color: #ccc;
  --control-close-bg-color: #fc5b57;
  --control-minimize-bg-color: #e5bf3c;
  --control-maximize-bg-color: #57c038;
}
